:root{

    --primary-f-colour: black;

}

a{
    color: var(--primary-f-colour);
    text-decoration: none;
}

body{


    font-family: "Montserrat", sans-serif;
    font-style: normal;
    margin: 0 auto;
    width: 95vw;

}

nav{

    color: var(--primary-f-colour);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav__links a{

    color: var(--primary-f-colour);
    text-decoration: none;

}