<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    <nav>
        <h2><a href="{{ url_for('index') }}">Best Library</a></h2>
        
        <div class="nav__links">
            <a href="#">About us</a>

            {% if session.get('user_type') == 'Staff' %}
                <a href="">Add Books</a>
                <a href="{{ url_for('register_staff')}}">Add Staff</a>
            {% endif %}
            {% if session['user_id'] %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login')}}">Log In</a>
                <a href="{{ url_for('register')}}">Register</a>
            {% endif %}
        </div>
    </nav>
    
    {% block content %}
    {% endblock %}    
</body>
</html>