{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/catalog.css') }}">
{% endblock %}

{% block title %}
    Awesome Library
{% endblock %}

{% block content %}
    <main>
        <div id="catalog">

            {% for book in book_list.values() %}
                <a href="{{ url_for('book_page', ISBN=book['ISBN']) }}">
                    <div class="book__card grid__container">
                        <h3>{{ book['Title'] }}</h1>
                        <h4> {{ book['Author'] }}</h2>
                        <div class="book__img-container">
                            <img class="book__img" src="{{ book['Image'] }} " alt="Cover of the book {{ book['Title'] }}">
                        </div>
                    </div>
                </a>
            {% endfor %}

        </div>
    </main>


{% endblock %}